doctype html
html(lang="en-us")
  head
    meta(charset="UTF-8")
    link(href="pre-preference.css" rel="stylesheet")
    script(src="pre-preference.js", type="text/javascript")
    title Tag This!
  
  body
    div.outer-wrapper
      h1#title Get ready!
      div#wrapper.inner-wrapper
        p#description Now you are going to practice tagging and verifying activities for 2 minutes.<br>Please feel free to switch activities during this period to get yourself used to each activity.<br>Press the Ready button to begin.
        div.next
          button#ready-button Ready!