doctype html
html(lang="en-us")
  head
    meta(charset="UTF-8")
    link(href="survey.css", rel="stylesheet")
    title Survey!
  body
    div.box
      h1 Thanks for volunteering!
      h2 Before you begin, we would like to understand more about your awareness on environmental issues.
      div.form
        form#survey-form(action="/survey", method="POST")
          fieldset#q1-buttons
            label.statement(for="q1-buttons") Are you concerned about global environmental issues (pollution, energy savings, etc.)?
            ul.likert
              li
                input(type="radio", name="q1", value="1")
                label not at all
              li
                input(type="radio", name="q1", value="2")
                label slightly
              li
                input(type="radio", name="q1", value="3")
                label somewhat
              li
                input(type="radio", name="q1", value="4")
                label moderately
              li
                input(type="radio", name="q1", value="5")
                label extremely
          fieldset#q2-buttons
            label.statement(for="q2-buttons") How polluted do you think the Gowanus Canal is?
            ul.likert
              li
                input(type="radio", name="q2", value="1")
                label not at all
              li
                input(type="radio", name="q2", value="2")
                label slightly
              li
                input(type="radio", name="q2", value="3")
                label somewhat
              li
                input(type="radio", name="q2", value="4")
                label moderately
              li
                input(type="radio", name="q2", value="5")
                label extremely
              li &nbsp
              li
                input(type="radio", name="q2", value="6")
                label I do not know how polluted the canal is
          fieldset#q3-buttons
            label.statement(for="q3-buttons") Are you concerned about the pollution problems of the Gowanus Canal?
            ul.likert
              li
                input(type="radio", name="q3", value="1")
                label not at all
              li
                input(type="radio", name="q3", value="2")
                label slightly
              li
                input(type="radio", name="q3", value="3")
                label somewhat
              li
                input(type="radio", name="q3", value="4")
                label moderately
              li
                input(type="radio", name="q3", value="5")
                label extremely
              li &nbsp
              li
                input(type="radio", name="q3", value="6")
                label I do not know about the pollution problems
          fieldset#q4-buttons
            label.statement(for="q4-buttons") How often do you engage in activities that help the environment (conserving water, turning off the lightusing less A/C, etc.)?
            ul.likert
              li
                input(type="radio", name="q4", value="1")
                label never
              li
                input(type="radio", name="q4", value="2")
                label rarely
              li
                input(type="radio", name="q4", value="3")
                label occasionally
              li
                input(type="radio", name="q4", value="4")
                label often
              li
                input(type="radio", name="q4", value="5")
                label always
          fieldset#q5-buttons
            label.statement(for="q5-buttons") Are you interested in saving the environment (conserving water, turning off the lightusing less A/C, etc.)?
            ul.likert
              li
                input(type="radio", name="q5", value="1")
                label not at all
              li
                input(type="radio", name="q5", value="2")
                label not so much
              li
                input(type="radio", name="q5", value="3")
                label neutral
              li
                input(type="radio", name="q5", value="4")
                label somewhat
              li
                input(type="radio", name="q5", value="5")
                label very much
          input(type="submit" value="finish")