doctype html
html(lang="en-us")
  head
    meta(charset="UTF-8")
    link(href="tag.css" rel="stylesheet")
    script(src="tag-preference.js", type="text/javascript")
    title Tag This!
  
  body
    div.outer-wrapper
      h1#title You are tagging
      div#wrapper.inner-wrapper
        img#tag-image(src=imgSrc, alt="Patience...")
        div.next
          button#next-button Next Image
        button#switch-button Switch Tasks
        div
          span#countdown