doctype html
html(lang="en-US")
  head
    meta(charset="UTF-8")
    title Thanks
    link(rel="stylesheet", href="survey.css")

  body
    div.box
      h1 Thanks for helping us monitor the environment!